{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock  %}
{% block title %}{% endblock  %}
{% block body %}
<div class="container">
{% for i in post %}
	<div class="card mt-3">
    <div class="card-header">
        <h3>{{i.title|safe}}</h3>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>{{i.post|safe}}</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}